.dashboard-navigation-bar {
  background: #74b0d4;
  padding: 25px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.select-candidate-text {
  text-align: center;
}
